.grid-container {
    display: grid;
    background-color: rgb(255, 255, 255);
   
    width: 100%;
    margin-bottom: 0;
    margin-top: 0px;
    grid-template-columns: repeat(3 ,1fr);
    grid-auto-rows: minmax(300px , auto);
    column-gap: 5px;
    min-width: 0;
    min-height: 0;
    overflow:auto;
    grid-template-areas: "header header header"
                         "img img img"
                          "img img img"
                         "img img img"
                         "img img img"
                         "sidebar content content"
                         "sidebar content content"
                         "logos logos logos"
                         "sidetxt leftimg leftimg"
                         "foot foot foot"
                         "footer footer footer"

}


.to-do-img-list{
 width: 100%;
 height: 42em;
 margin-top: 50px;
}
.marquee {
    width: 90%;
    box-shadow: 1px 1px 100px 10px rgba(202, 202, 202, 0.3);
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:1.5vw;
   
  }
  
  .marquee span {
    
    width: max-content;
    
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 10s linear infinite;

  }
  

  
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  
  
  /* Respect user preferences about animations */
  
  @media (prefers-reduced-motion: reduce) {
    .marquee span {
      animation-iteration-count: 5;
      animation-duration: 0.001; 
      /* instead of animation: none, so an animationend event is 
       * still available, if previously attached.
       */
      width: auto;
      padding-left: 0;
    }
  }
.small-images-marq{
    width: 300px;
    height: 300px;
}

.reg-container{
    margin-top: 15vw;
    display: grid;
    width: 30%;
    grid-gap: 1rem;
    grid-template-columns: repeat(1,1fr);
    box-shadow: 3px 3px 30px 15px rgba(56, 77, 182, 0.3);
    background-color: transparent;
    margin-left: 30%;
    border-radius: 3rem;
    padding: 5rem;
}

.reg-container input[type="text"] , input[type="password"]{
        
        width: 50%;
        justify-self: center;
        height: 2rem;
        outline: none;
        font-size: 1rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 0.5px;
        color: rgb(54, 54, 54);
}
.reg-container button{
    border: none;
    width: 30%;
    justify-self: center;
    padding: .5rem;
    background-color: rgb(137, 137, 233);
    border-radius: 4px;
    color:white;
}
.reg-container h2{
   text-align: center;
   font-size: xx-large;
}

.reg-container button:hover{
    
    background-color: rgb(105, 105, 243);
    
    color:white;
}

#reg-name{
    grid-column: 1/2;
    grid-row: 2/3;
    
}
.err-msg{
    grid-column: 1/2;
   
    font-size: 1em;
    color:rgb(240, 78, 78);
    text-align: center;
    
    margin: 0;
    
    
    height: 0.5em;
}



.grid-item{
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding:30px;
    margin: 20px 30px 20px 30px;
    
    
 }

 .small-images{
    width: 180px;
    height:120px;
    margin-top: 10px;
 }

.grid-item p {
    font-family: cursive;    
    padding: 10px;
 }

.small-grid{
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(4vw,auto);
    column-gap: 1vw;
    min-width: 0;
    min-height: 0;
    grid-template-areas: "h h h h h"
                         "img1 img2 img3 img4 img5";
   
}

.small-grid-item{
    margin-inline: 1vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.small-grid-item p{
    font-size: larger;
}
.small-grid-item h1{
    text-transform: capitalize;
    font-family:   "Audiowide", sans-serif; 
    font-size:30px ;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-top: 60px;
}
#hr-div{
    border-bottom: .1px solid rgba(165, 165, 165,.5) ;
    width:80%;
    margin-left: 2.5% !important;
    margin-right:5%;
}
.itm-1{
    grid-area: h;
    
}
.itm-2{
    grid-area: img1;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 182, 182);
    border-radius: 20px;
}
.itm-3{
    grid-area: img2;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 182, 182);
    border-radius: 20px;
}
.itm-4{
    grid-area: img3;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 182, 182);
    border-radius: 20px;
}
.itm-5{
    grid-area: img4;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 182, 182);
    border-radius: 20px;
}
.itm-6{
    grid-area: img5;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 182, 182);
    border-radius: 20px;
    
}

.offers .itm-5{
    height: 100%;
}



h1{
    text-transform: capitalize;
    font-family:   "Audiowide", sans-serif; 
    font-size:60px ;
    word-spacing: 10px;
    letter-spacing: 5px;
 }


.btn-home{
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color:dimgray ;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-overflow: none;
    text-transform: uppercase;
    overflow: hidden;
}
.btn-home:hover{  
    background-color: rgb(80, 80, 255);
}

.btn-home-2{
    margin: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: red ;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-overflow: none;
    text-transform: uppercase;
    overflow: hidden;
}
.btn-home-2:hover{
    background-color: rgb(202, 6, 6);
}

.btn-read{
    padding: 5px 15px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color:inherit ;
    color: rgb(87, 87, 252);
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-overflow: none;
    
    overflow: hidden;
}
.btn-read:hover{
    background-color:  rgba(170, 170, 235, 0.2);
    
}
.btn-down{
margin-top: 10px;
padding: 10px 15px;
border-radius: 10px;
font-weight: bold;
border: none;
background-color:inherit ;
color: rgb(145, 141, 141);
font-size: 14px;
font-family: 'Times New Roman', Times, serif;
text-overflow: none;
overflow: hidden;

}
.btn-down:hover{
    background-color: rgb(145, 141, 141,0.1);
}
.item-8 p{
    color: rgb(145, 141, 141);
}


.to-do-img{
    width: 100%;
}
.brands{
    color: rgb(170, 170, 166);
    font-size: large;
    word-spacing: 3px;
    font-weight: 550;
    letter-spacing: 1px;
    
}

.note-item{
   padding: 180px 2px 180px 2px;
    text-align: left;
    margin: 0;
}
.note-quote{
    color: rgb(218, 52, 52);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.note-head{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}
.note-core{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: x-large;
    color: rgb(146, 144, 144);
    text-align: left;

}

.offers{
    list-style: none;
    text-decoration: none;
    
}
.offers p{
    color: black;
}

.item-1{
    grid-area: header;
    min-height: 250px;
    overflow: hidden;
    
}
.item-2{
    grid-area: sidebar;
    width: 90%;
}
.item-3{
    grid-area: content;
}
.item-4 {
    margin-left: 10% !important;
    margin-right: 10% !important;
    grid-area: logos;
}
.item-5{
    grid-area :img;
}
.item-6{
    grid-area :sidetxt;
}
.item-7{
    grid-area :leftimg;
}
.item-8{
    grid-area :foot;
}
.item-9{
    grid-area: footer;
}
.item-9{
   width: 100%;
   align-items: center;
}

.marq-h1{
    font-weight:bolder !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: larger;
    white-space: 2px;
    letter-spacing: 1px;
}
.marq-h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: 500;
    color:rgb(156, 152, 152)
}

/*

Footer 

*/

footer{
    
    margin-top: 0;
    background-image: linear-gradient(to bottom, white, rgba(48, 42, 139, 0.5));
    background-color: white;
    overflow: hidden;
}
hr{
    width: 60%;
    color: gray;
    
   
}

.grid-footer{
    
    margin-top: 100px;
    display: grid;
    
    grid-template-columns: repeat(6,1fr);
    grid-gap: 100px;
    padding: 10px 20px 10px 200px;

}

.f-item-1{
    grid-column: 1/3;
    
}
.f-item-2{
    grid-column: 1/7;
}
.f-item-1 h2{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(77, 73, 73);
}
.f-item-1 p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(77, 73, 73);
    background-color: inherit;
}

.grid-f-item{
    display: block;
}


.grid-f-item h1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
p a{
    text-decoration: none;
    color :rgb(77, 73, 73);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;
    font-weight: 500;
}
.grid-f-item > .foot-t {   
    max-width: fit-content;
    color: rgb(77, 73, 73);
    padding: 10px; 
    text-align: left;
    border-radius: 20px;
}



.icons a{
    max-width: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    display: block;
    margin-top: 20px;
    color: black;
}
.icons a:hover{
    background-color:rgba(128, 121, 121, 0.1) ;
}
.f-item-2 .foot-tt{
    display: inline-block;
    margin: 0;
    padding: 1px 10px;
  border-right: .4px solid rgb(77, 73, 73) ;
    
}
.f-item-2 #foot-tt  {
    display: inline-block;
    margin: 0;
    padding: 1px 10px;
  
    
}
#inc{
    display: inline-block;
    margin: 0;
    padding: 1px 10px;
    color: rgb(77, 73, 73);
}


.f-item-2 p{
    display: inline-block;
    margin: 0;
    padding: 1px 10px;
  
    
}
.foot-tt:hover{
    text-decoration: underline;
}
#foot-tt:hover{
    text-decoration: underline;
}


.grid-f-item  .foot-t:hover{
    background-color: rgba(128, 121, 121, 0.1);
    
}

@media (max-width: 1380px) {

    .small-images{
        width:100% !important;
        height:60% !important;
        margin-top: 0.2em;
        margin-bottom: 0;
     } 
     .item-2{
        margin-top: 0;
     }
     .note-item{
        margin-bottom: 8em !important;
     }
    
    .small-grid{
        
        width:100% !important;
        
        margin-left: 1.5rem;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-auto-rows: minmax(2em,auto);
        column-gap: 4px;
        min-width: 0;
        min-height: 0;
        grid-template-areas: "h h h h h"
                             "img1 img2 img3 img4 img5";
       
       
    }
    
    .small-grid-item{
        margin-inline: 0;
        width:100%;
        height: 100%;
        overflow: hidden;
    }
    .small-grid-item p{
        font-size: 0.9em !important;
        font-family: 'Times New Roman', Times, serif;
       
    }
    .small-grid-item h1{
        font-size:3em ;
        word-spacing: 1px;
        letter-spacing: 1px;
        margin-top:1em;
        
    }
    .to-do-img-list{
        width: 100%;
        height: 55rem;
    }


}




@media (max-width: 768px) {

    .grid-container {

       
        width: 100%;

        grid-template-columns: repeat(3 ,1fr);
        grid-auto-rows: minmax(4em , auto) !important;
        column-gap: 0.1em;
        min-width: 0;
        min-height: 0;

    }
    .to-do-img-list{
        width: 100%;
        height: 20em;
       }
       /* didn't done yet 5leha fel a5er */
       .marquee {
        width: 100%;
        box-shadow: 1px 1px 100px 10px rgba(202, 202, 202, 0.3);
        margin-top: 5em  !important;
        grid-template-columns: repeat(5,1fr);
        grid-gap:1.5vw;
       
      }
      #foot-h1{
        font-size: small !important;
      }
     
    .small-images-marq{
        width: 5rem;
        height: 8rem;
    }
    
    .reg-container{
        margin: 35% 40% 75% 25% !important;
        display: grid;
        width: 8em;
        grid-gap: 1rem;
        grid-template-columns: repeat(1,1fr);
        box-shadow: 3px 3px 30px 15px rgba(56, 77, 182, 0.3);
        background-color: transparent;
        border-radius: 3rem;
        padding: 2rem 4rem;
       
    }
    #reg-div{
        width: 100%;
    }
    
    .reg-container input[type="text"] , input[type="password"]{
            width: 80%;

            height: 1rem;
            font-size: 0.6rem;

            letter-spacing: 0.5px;

    }
    .reg-container button{
        font-size: 0.6em;

        width: 5em !important;

        padding: .5rem;

        border-radius: 4px;

    }

    .reg-container h2{
       font-size: 1em;
    }
    .err-msg{  
        font-size: 0.6em;

        height: 0.2em;
    }
    

    
    
    .grid-item{
        
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding:0.3em;
        margin: 0.2em 0.3em ;
        

     }
    
     
    
    .grid-item p {
        font-family: cursive;    
        padding: 0.1em;
        font-size: 0.5em;
     }

     .small-images{
        width: 35% !important;
        height:40% !important;
        margin-top: 0.2em;
     }
    
    .small-grid{
        width:100% !important;
        
        margin-left: -1.5rem;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-auto-rows: minmax(2em,auto);
        column-gap: 0px;
        min-width: 0;
        min-height: 0;
        grid-template-areas: "h h h h h"
                             "img1 img2 img3 img4 img5";
       
       
    }
    
    .small-grid-item{
        margin-inline: 0;
        width:90%;
        height: 100%;
        overflow: hidden;
    }
    .small-grid-item p{
        font-size: 0.5em !important;
        font-family: 'Times New Roman', Times, serif;
       
    }
    .small-grid-item h1{
        font-size:0.7em ;
        word-spacing: 1px;
        letter-spacing: 1px;
        margin-top:1em;
        
    }
    #hr-div{
        border-bottom: .1px solid rgba(165, 165, 165,.5) ;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
   
    

    
    
    h1{
        text-transform: capitalize;
        font-family:   "Audiowide", sans-serif; 
        font-size:1.5em ;
        word-spacing: 0.1em;
        letter-spacing: 0.1em;
        margin-top: 1em;
     }
    
    
    .btn-home{
        padding: 0.5em 1em;
        font-size: 0.5em;
    }

    
    .btn-home-2{
        margin: 0.3em;
        padding: 0.5em 0.4em;
        font-size: 0.5em;
    }

    
    .btn-read{
        padding: 0.1em;
        border-radius: 50px;
        font-weight: bold;
        
        font-size: 0.6em;
 
    }

    .btn-down{
    margin-top: 0.2em;
    padding: 0.15em;
    border-radius: 10px;
   
    font-size: 0.52em;

    
    }


    
    
    .to-do-img{
        width: 100%;
    }
    .brands{
        color: rgb(170, 170, 166);
        font-size: 0.4em !important;
        word-spacing: 3px;
        font-weight: 550;
        letter-spacing: 1px;
        
    }
    
    .note-item{
       padding: 4em 0.1em ;
        text-align: left;
        margin: 0;
    }
    .note-quote{

        font-size: 0.5em;

    }
    .note-head{
        font-size:0.8em;

    }

    

    
    .item-1{
        grid-area: header;
        min-height: 25%;
        overflow: hidden;
        margin-top: 1em;
        
    }
    
    
    .marq-h1{
        font-weight:bolder !important;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        font-size: larger;
        white-space: 2px;
        letter-spacing: 1px;
    }
    .marq-h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        font-weight: 500;
        color:rgb(156, 152, 152)
    }

}
    
    /*
    
    Footer 
    
    */
   
    
    
    footer{
        
        margin-top: 0;
        background-image: linear-gradient(to bottom, white, rgba(48, 42, 139, 0.5));
        background-color: white;
        overflow: hidden;
    }
    hr{
        width: 60%;
        color: gray;
        
       
    }
    
    .grid-footer{
        
        margin-top: 100px;
        display: grid;
        
        grid-template-columns: repeat(6,1fr);
        grid-gap: 100px;
        padding: 10px 20px 10px 200px;
    
    }
    
    .f-item-1{
        grid-column: 1/3;
        
    }
    .f-item-2{
        grid-column: 1/7;
    }
    .f-item-1 h2{
        font-size: 35px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(77, 73, 73);
    }
    .f-item-1 p{
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(77, 73, 73);
        background-color: inherit;
    }
    
    .grid-f-item{
        display: block;
    }
    
    
    .grid-f-item h1{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
    p a{
        text-decoration: none;
        color :rgb(77, 73, 73);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;
        font-weight: 500;
    }
    .grid-f-item > .foot-t {   
        max-width: fit-content;
        color: rgb(77, 73, 73);
        padding: 10px; 
        text-align: left;
        border-radius: 20px;
    }
    
    
    
    .icons a{
        max-width: fit-content;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
        display: block;
        margin-top: 20px;
        color: black;
    }
    .icons a:hover{
        background-color:rgba(128, 121, 121, 0.1) ;
    }
    .f-item-2 .foot-tt{
        display: inline-block;
        margin: 0;
        padding: 1px 10px;
      border-right: .4px solid rgb(77, 73, 73) ;
        
    }
    .f-item-2 #foot-tt  {
        display: inline-block;
        margin: 0;
        padding: 1px 10px;
      
        
    }
    #inc{
        display: inline-block;
        margin: 0;
        padding: 1px 10px;
        color: rgb(77, 73, 73);
    }
    
    
    .f-item-2 p{
        display: inline-block;
        margin: 0;
        padding: 1px 10px;
      
        
    }
    .foot-tt:hover{
        text-decoration: underline;
    }
    #foot-tt:hover{
        text-decoration: underline;
    }
    
    
    .grid-f-item  .foot-t:hover{
        background-color: rgba(128, 121, 121, 0.1);
        
    }





   

    @media (max-width: 1230px) {

        footer{
            right: 0;
             
            margin-top: 0;

        }

        #hr-div{
            border-bottom: .1px solid rgba(165, 165, 165,.5) ;
            width: 80% !important;
            margin-left: 10% !important ;
            margin-right: 10% !important;
        }
        
        .grid-footer{
            right: 0;
            margin-top: 2rem !important;
            display: grid;
            width: 100%;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 0.1rem !important;
            padding: 1px  !important;
        
        }
        
        .f-item-1{
            grid-column: 1/3;
            
        }
        .f-item-2{
            grid-column: 1/7;
        }
        .f-item-1 h2{
            font-size: 2rem !important;
            margin: 1%;

        }
        .f-item-1 p{
            font-size: 1em;

        }
        

        
        .grid-f-item h1{
            font-size: 1em;
            margin: 1%;
        }
        p a{

            font-size: 0.8em;
        }   
        .grid-f-item > .foot-t {   
            max-width: fit-content;
            padding: 0.4em; 
            text-align: left;
            border-radius: 20px;
        }
        
        
        
        .icons a{

            padding: 0.3em;

            font-size: 1em;

            margin-top: 1em;

        }

        
        
        #inc{
            font-size: 0.8em;

        }
        
        
        .f-item-2 p{
            display: inline-block;
            margin: 0;
            padding: 1px 10px;
          
            
        }

    
    

    }


    @media (max-width: 768px) {
        footer{
            right: 0;
             
            margin-top: 0;
            background-image: linear-gradient(to bottom, white, rgba(48, 42, 139, 0.5));
            background-color: white;
            overflow: hidden;
        }
        hr{
            width: 60%;
            color: gray;
            
           
        }
        
        .grid-footer{
            right: 0;
            margin-top: 2rem !important;
            display: grid;
            width: 100%;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 0.1rem !important;
            padding: 1px  !important;
        
        }
        
        .f-item-1{
            grid-column: 1/3;
            
        }
        .f-item-2{
            grid-column: 1/7;
        }
        #listania-foot{
            font-size: 0.75rem  !important;
        }
        .f-item-1 h2{
            font-size: 0.65rem  !important;
            margin: 1%;

        }
        .f-item-1 p{
            font-size: 0.6em !important;

        }
        

        
        .grid-f-item h1{
            font-size: 0.6em !important;
            margin: 1%;
        }
        p a{

            font-size: 0.5em !important;
        }
        .grid-f-item > .foot-t {   
            max-width: fit-content;

            padding: 0.4em; 
            text-align: left;
            border-radius: 20px;
        }
        
        
        
        .icons a{

            padding: 0.3em;

            font-size: 0.8em;

            margin-top: 1em;

        }

        
        
        #inc{
            font-size: 0.6em;

        }
        
        
        .f-item-2 p{
            display: inline-block;
            margin: 0;
            padding: 1px 10px;
          
            
        }

    
    
    }

   