.navdiv{
    background-color: white;
   
    overflow: hidden;
    top: 0;
    width: 100%;
}
.navbar{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.reg-item .nav-link{
    color: rgb(80, 80, 255);
    font-weight: 300;
    float: left;
    padding: 15px  20px;
    display: block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-item .nav-link{
    float: right;
    padding: 15px  20px;
    color: rgb(80, 80, 255);
    display: block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

.reg-item:hover .nav-link{
    background-color: rgb(80, 80, 255);
    color: white;
}


.nav-item:hover .nav-link{
    background-color: rgb(80, 80, 255);
    color: white;
}

.active{
    background-color: rgb(80, 80, 255);
    color: white !important;
}
